In [3]:
from PIL import Image
import imagehash

# image_fns : List of training image files
img_hashes = {}

for img_fn in sorted(image_fns):
    hash = imagehash.average_hash(Image.open(image_fn))
    if hash in img_hashes:
        print( '{} duplicate of {}'.format(image_fn, img_hashes[hash]) )
    else:
        img_hashes[hash] = image_fn

NameError: name 'image_fns' is not defined

In [5]:
import pandas as pd

In [7]:
file_info=pd.read_csv("dataset/number_of_samples.csv")

In [8]:
file_info

    Unnamed: 0      Name of class  Number of files
0            0        bmw serie 1               82
1            1    chevrolet spark              108
2            2    chevroulet aveo              129
3            3               clio              344
4            4             duster              280
5            5               Golf              160
6            6        hyundai i10              130
7            7     hyundai tucson              128
8            8              logan              112
9            9             megane              280
10          10   mercedes class a               84
11          11       nemo citroen               80
12          12            octavia              156
13          13            picanto              178
14          14               polo              132
15          15            sandero              260
16          16         seat ibiza              100
17          17             symbol              158
18          18     toyota corolla              150
19          19  volkswagen tiguan              184

In [ ]:
cato=list(file_info['Name of class'])

In [16]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import os
import cv2
from tqdm import tqdm
import tensorflow as tf
from tensorflow import keras

ModuleNotFoundError: No module named 'cv2'

In [14]:
DATADIR = 'dataset'
CATEGORIES = cato
for category in CATEGORIES:  # do dogs and cats
    path = os.path.join(DATADIR,category)  # create path to dogs and cats
    x=0
    for img in os.listdir(path):  # iterate over each image per dogs and cats
        x+=1
        img_array = cv2.imread(os.path.join(path,img) ,cv2.IMREAD_GRAYSCALE)  # convert to array
        plt.imshow(img_array, cmap='gray')  # graph it
        plt.show()  # display!
        if x==10 : 
            break

NameError: name 'os' is not defined

In [ ]:
conda install opencv